@font-face {
    font-family: 'Harir';
    src: url('Harir-Reg.woff2') format('woff2'),
        url('Harir-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harir';
    src: url('Harir-Bld.woff2') format('woff2'),
        url('Harir-Bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

