@font-face {
    font-family: 'Harir';
    src: url('./fonts/Harir-Reg.woff2') format('woff2'),
        url('./fonts/Harir-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harir';
    src: url('./fonts/Harir-Bld.woff2') format('woff2'),
        url('./fonts/Harir-Bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

